body, .nav-tabs, .navigation{
    margin:0;
    padding:0;
}

.nav-tabs {
    display: flex;
    height: 54px;
    align-items: center;
    background-color: #3C3C3C;
    color: #C8C2B7;
}

.file.file-html {
    height: 56px;
    width: 124px;
}

.file.file-css {
    height: 56px;
    width: 111px;
    background-color: rgb(4,4,4);
}

.file.file-sass {
    width: 120px;
    height: 56px;
}

.file {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #544B4B;
    box-sizing: border-box;
}

.file:before {
    content: ' ';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.file.file-html::before {
    background-image: url(./imgs/html-icon.png);
}
.file.file-css::before {
    background-image: url(./imgs/css-icon.png);
}
.file.file-sass::before {
    background-image: url(./imgs/sass-icon.png);
}

.container {
    background: linear-gradient(0deg, rgba(96,96,96,1) 0%, rgba(4,4,4,1) 100%);
}

.code-lines {
    margin: 0;
    padding-top: 8px;
    padding-left: 52px;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

li {
    height: 27px;
}

.code-lines .selector {
    color: #FFFF00;
    padding-left: 7px;
    letter-spacing: 0.7px;
}

.code-lines .punctuation {
    color: #808076;
    font-size: 14px;
    padding-left: 3px;
}

span.property {
    padding-left: 31px;
    letter-spacing: 0.99px;
    color: #00CCDD;
}

.function {
    color: #A52A2A;
}

.file:hover {
    cursor:pointer;
    background-color: #80807C;
}

li:hover {
    background-color: #4C5354;
}

.selector:hover {
    text-decoration: underline;
    font-style: italic;
    cursor:pointer;
}