body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  padding-top: 36px;
}
#wrapper {
  border: 1px solid black;
  width: 183px;
  height: 391px;
  overflow: hidden;
  padding: 0;
  border-radius: 5px;
}

#avatar > img{
  width: 100%;
}

.userinfo {
  display:flex;
}

#main-info {
  position: relative;
  height: 72px;
  border-bottom: 2px solid gray;
}

#main-info> h1 {
  margin-top: 5px;
  font-size: 21px;
  top: -14px;
  left: -1px;
  margin-left: -1px;
}

#main-info> h2 {
  margin-top: -17px;
  font-size: 15px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: rgba(0,0,0,.6);
}

#main-info>#label {
  background-color: #6CC644;
  color: white;
  margin-top: 8px;
  height: 13px;
  font-size: 9px;
  width: 24px;
  padding: 1px;
  box-sizing: border-box;
  display: inline-block;
}

#main-info > a {
  font-size: 11px;
  text-decoration: none;
  margin-left: -2px;
  color: #85B9E7;
}

#details {
  height: 63px;
  border-bottom: 2px solid gray;
}

#details > #location {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
}

#details > #location > p {
  margin-top: -1px;
  font-size: 11px;
  margin-left: 8px;
}

#details > #location > .octicon{
  font-size: 12px;
}

#details > #mail {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: -2px;
  margin-left: 0px;
}

#details > #mail > p {
  margin-top: -1px;
  font-size: 11.4px;
  margin-left: 8px;
  text-decoration: none;
  color: #85B9E7;
}
#details > #mail > p > a {
  text-decoration: none;
  color: #85B9E7;
}

#details > #mail > .octicon{
  font-size: 12px;
}

#details > #joined {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: -3px;
}

#details > #joined > p {
  margin-top: -1px;
  font-size: 11px;
  margin-left: 8px;
}

#details > #joined > .octicon{
  font-size: 12px;
}

#git-info {
  display:flex;
  justify-content: space-around;
  height: 52px;
  align-items: center;
}

#git-info > div {
  display:flex;
  flex-direction: column;
  font-size: 9px;
  align-items: center;
  margin-top: -8px;
}

#git-info > div > span {
  color: #4078C0;
  font-size: 21px;
  font-weight: bolder;
}